<template>
    <div id="app-container">
        <product-form @SubmittedData="onSubmittedData" v-show="!loading"></product-form>

        <products-table :products="products" @UpdateProduct="onUpdateProduct" v-show="!loading" v-if="products.length > 0"></products-table>
    </div>
</template>
<script>
    import ProductsMixin from '../products.mixin'
    import ProductForm from '../components/ProductForm.vue'
    import ProductsTable from '../components/ProductsTable.vue'

    export default {
        components: {
            ProductForm,
            ProductsTable
        },
        data: () => ({
            loader: null,
            loading: false,
            products: []
        }),
        methods: {
            onSubmittedData(data) {
                this.loading = true
                this.createProduct(data).then(() => {
                    this.refreshData()
                    this.loading = false
                }).catch(() => {
                    this.loading = false
                })
            },
            onUpdateProduct(id, data) {
                this.updateProduct(id, data).then(() => {
                    this.refreshData()
                })
            },
            refreshData() {
                this.loading = true
                this.getProducts().then((response) => {
                    this.products = response.data.sort(this.sortProducts)
                    this.loading = false
                })
            },
            sortProducts(a, b) {
                if (a.submitted_at.date < b.submitted_at.date) {
                    return 1
                }

                else if (b.submitted_at.date < a.submitted_at.date) {
                    return -1
                }

                return 0
            }
        },
        mounted() {
            this.refreshData()
        },
        mixins: [
            ProductsMixin
        ],
        name: 'App',
        watch: {
            loading(loading) {
                if (loading) {
                    this.loader = window.Vue.$loading.show()
                } else {
                    this.loader.hide()
                }
            }
        }
    }
</script>
<style scoped>
    >>> .vld-icon svg {
        text-align: center !important;
    }
</style>