<template>
    <form @submit.prevent="onFormSubmit">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Quantity in stock</th>
                <th scope="col">Price per item</th>
                <th scope="col">Date submitted</th>
                <th scope="col">Total value</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in products" :key="product.id">
                <td>
                    <template v-if="product.id !== activeFormId">
                        {{ product.name }}
                    </template>
                    <template v-else>
                        <input type="text" class="form-control" name="name" v-model="editedProduct.name" />
                    </template>
                </td>
                <td>
                    <template v-if="product.id !== activeFormId">
                        {{ product.quantity_in_stock }}
                    </template>
                    <template v-else>
                        <input type="text" class="form-control" name="quantity_in_stock" v-model="editedProduct.quantity_in_stock" />
                    </template>
                </td>
                <td>
                    <template v-if="product.id !== activeFormId">
                        {{ product.price_per_item }}
                    </template>
                    <template v-else>
                        <input type="text" class="form-control" name="price_per_item" v-model="editedProduct.price_per_item" />
                    </template>
                </td>
                <td>{{ product.submitted_at.date }}</td>
                <td>{{ product.quantity_in_stock * product.price_per_item }}</td>
                <td>
                    <button class="btn btn-primary" @click.prevent="showEditForm(product)" v-if="product.id !== activeFormId">Edit</button>
                    <template v-else>
                        <button class="btn btn-success" type="submit">Save</button>
                        <button class="btn btn-danger" @click.prevent="hideEditForm()">Cancel</button>
                    </template>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">Listing {{ products.length }} products, with a total value of:</th>
                <th class="total">{{ sumTotalValues }}</th>
            </tr>
            </tfoot>
        </table>
    </form>
</template>
<script>
    export default {
        computed: {
            sumTotalValues() {
                let total = 0

                this.products.forEach((product) => {
                    total += product.quantity_in_stock * product.price_per_item
                })

                return total.toFixed(2)
            }
        },
        data: () => ({
            activeFormId: undefined,
            editedProduct: {
                name: undefined,
                quantity_in_stock: undefined,
                price_per_item: undefined
            }
        }),
        methods: {
            hideEditForm() {
                this.activeFormId = undefined
                this.editedProduct =  {
                    name: undefined,
                    quantity_in_stock: undefined,
                    price_per_item: undefined
                }
            },
            onFormSubmit() {
                this.$emit('UpdateProduct', this.activeFormId, this.editedProduct)
                this.hideEditForm()
            },
            showEditForm(product) {
                this.activeFormId = product.id
                this.editedProduct = {
                    name: product.name,
                    quantity_in_stock: product.quantity_in_stock,
                    price_per_item: product.price_per_item
                }
            }
        },
        name: 'ProductsTable',
        props: {
            products: {
                type: Array,
                required: true
            }
        }
    }
</script>
<style scoped>
    tfoot th {
        text-align: right;
        background-color: #000;
        color: #fff;
    }

    tfoot th.total {
        text-align: left !important;
    }
</style>