<template>
    <form @submit.prevent="onFormSubmit">
        <fieldset class="container-fluid">
            <legend>Add a new product</legend>
            <div class="row">
                <div class="form-group xs-12 lg-3">
                    <label>
                        Product name:
                        <input type="text" name="name" class="form-control" v-model="product.name" required />
                    </label>
                </div>
                <div class="form-group xs-12 lg-3">
                    <label>
                        Quantity in stock:
                        <input type="text" name="quantity_in_stock" class="form-control" v-model="product.quantity_in_stock" required />
                    </label>
                </div>
                <div class="form-group xs-12 lg-3">
                    <label>
                        Price per item:
                        <input type="text" name="price_per_item" class="form-control" v-model="product.price_per_item" required />
                    </label>
                </div>
                <div class="form-group group-submit xs-12 lg-3">
                    <input class="btn btn-success" type="submit" value="Save" />
                </div>
            </div>

        </fieldset>
    </form>
</template>
<script>
    export default {
        data: () => ({
            product: {
                name: undefined,
                quantity_in_stock: undefined,
                price_per_item: undefined
            }
        }),
        methods: {
            resetModel() {
                this.product = {
                    name: undefined,
                    quantity_in_stock: undefined,
                    price_per_item: undefined
                }
            },
            onFormSubmit() {
                this.$emit('SubmittedData', this.product)
                this.resetModel()
            }
        },
        name: 'ProductForm'
    }
</script>
<style scoped>
    form {
        padding: 10px;
        background-color: #dedede;
    }

    .form-group {
        margin-right: 10px;
    }

    .group-submit {
        margin-top: 24px;
    }
</style>